<!DOCTYPE html>
<html>
<head>
	<title>Rush The Line</title>
</head>
<body>
<div class="background-image-section"> <!-- back ground image will go here -->
	<div class="background-tintbox">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  		<div class="banner-title">RUSH THE LINE</div>
	  	</div>
	</div>
</div>
	<div class="information-section">
		<div class="container inner-info">
			<br>
			<br>
			<div class="info-tag">What we do</div>
			<br>
			<br>
			<div class="row">
				<div class="col-lg-4">
					<h1>Traveler</h1>
					<p class="info-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco</p>
					<button class="explore">Explore Service</button>
				</div>
				<div class="col-lg-4">
					<h1>Merchant</h1>
					<p class="info-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco</p>
					<button class="explore">Explore Service</button>
				</div>
				<div class="col-lg-4">
					<h1>Airport</h1>
					<p class="info-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco</p>
					<button class="explore">Explore Service</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>

	<div class="attention-grabber-section">
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h2 class="grabber-text">A Sentence Can Go Here??</h2>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="business-image-section">
		<div class="background-tintbox2">
			<div class="container">
				<div class="row" id="busy-row">
					<div class="col-lg-2 col-md-2 col-sm-12">
						<h4 class="huge">Convenience</h4>
						<svg class="checkmark" viewBox="0 0 52 52">
	    					<circle class="checkmark__circle" cx="26" cy="26" r="25" 
	    					fill="none"/>
	    					<path class="checkmark__check" fill="none" 
	    					d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
						</svg>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12">
						<h4 class="huge">Food Service</h4>
						<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
</svg>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12">
						<h4 class="huge">Product Info</h4>
						<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
</svg>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12">
						<h4 class="huge">Great Deals</h4>
						<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
</svg>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12">
						<h4 class="huge">Delivery</h4>
						<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
</svg>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12">
						<h4 class="huge">Fast & Secure</h4>
						<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
</svg>





					</div>
				</div>
			</div>
		</div>
	</div>

<br>
<br>
<br>
<br>
	<div class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-lg- col-md-8 col-sm-12 col-xs-12" id="rtl-us">
					<div class="rtl-stamp">Rush The Line | Contact Us</div>
					<ul>
						<li>Instagram</li>
						<li>Facebook</li>
						<li>Twitter</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	

</body>
</html>




