<!DOCTYPE html>
<html>
<head>
	<title>Rush The Line</title>
</head>
<body>
<div class="background-image-section"> <!-- back ground image will go here -->
	<div class="background-tintbox">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  		<div class="banner-title">RUSH THE LINE</div>
	  	</div>
	</div>
</div>
	<div class="information-section">
		<div class="container inner-info">
			<br>
			<br>
			<div class="info-tag">What we do</div>
			<br>
			<br>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<h1>Traveler</h1>
					<p class="info-para">Rush The Line provides airport travelers a convenient way to order food and marchandise without the hassle of waiting in line. After the order is placed, it will be delivered directly to your gate.  </p>
					<button class="explore">Explore Service</button>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<h1>Merchant</h1>
					<p class="info-para">Rush The Line gives merchants a platform to attract customers through a faster and more convenient way of delivering their products to customers.</p>
					<button class="explore">Explore Service</button>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<h1>Airport</h1>
					<p class="info-para">Rush The Line helps the traffic flow in airports by cutting down on foot traffic and giving their travelers a less stressful flying experience.</p>
					<button class="explore">Explore Service</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>

	<div class="attention-grabber-section">
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h2 class="grabber-text">A Sentence Can Go Here??</h2>
			</div>
		</div>
	</div>

		<div class="business-section">
			<div class="background-tintbox-email">
				<div class="container">
					<div class="row" id="busy-row-one">

						<div class="col-lg-4 col-md-4 col-sm-4" id="first-cols">
							<h4 class="huge">Convenience</h4>
							
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4" id="first-cols">
							<h4 class="huge">Visibility</h4>
							
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4" id="first-cols">
							<h4 class="huge">Control</h4>
					
						</div>
					</div><!--end of row -->
						<div class="row" id="busy-row-two">
							<div class="col-lg-4 col-md-4 col-sm-4" id="sec-cols">
								<h4 class="huge">Variety</h4>
						
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4" id="sec-cols">
								<h4 class="huge">Delivery</h4>
							
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4" id="sec-cols">
								<h4 class="huge">Fast & Secure</h4>
							
							</div>
					</div><!--end of row -->
				</div><!--end of container -->
			</div>
		</div>

<div class="email-us-section"><!-- Begin Mailchimp Signup Form -->
	<div class="container">
		<div id="mc_embed_signup">
			<form action="https://rushtheline.us19.list-manage.com/subscribe/post?u=17006b36997a9efd38703b1f1&amp;id=7e9cdb5ce0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
						<h2>Subscribe to our mailing list</h2>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address</label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
					<div class="mc-field-group">
							<label for="mce-FNAME">First Name </label>
							<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
					</div>
					<div class="mc-field-group">
							<label for="mce-LNAME">Last Name </label>
							<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_17006b36997a9efd38703b1f1_7e9cdb5ce0" tabindex="-1" value=""></div>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" 				id="mc-embedded-subscribe" class="button">
					</div>
				</div>
			</form><!--End mc_embed_signup-->
		</div>
	</div>
</div>


	<div class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-3 col-xs-3" id="social-blast">
						
						<span class="fa fa-facebook fa-3x"></span>
						<span class="fa fa-twitter fa-3x"></span>
						<span class="fa fa-instagram fa-3x"></span>
						<span class="fa fa-linkedin fa-3x"></span>
						
				</div>		
			</div>
		</div>
	</div>
</body>
</html>




