
.background-tintbox{
	height: 65vh;
	width: 100%;
	background: rgba(255,0,0, 0.5);
}


.background-image-section{
	height: 65vh;
	background-image: url(image-path('rtl_image1.jpg'));
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}


.banner-title{
	text-align: center;
	color: #fff;
	font-size: 6em;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 300;
	letter-spacing: 7px;
	word-spacing: 3px;
	position: absolute;
    top: 4em;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rtl-slogan{
	text-align: center;
	color: #fff;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	letter-spacing: 3px;

}

@media (max-width: 979px) {
.placeholder{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-align: center;
	padding: 185px;
	font-family: 'Segoe UI', sans-serif;
}
}

.info-tag{
	text-align: center;
	font-size: 4rem;
	color: black;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 200;
	margin-bottom: 4rem;
}

.information-section{
	height: auto;
}

.info-para{
	font-size: 18px;
}


.explore{
	font-family: 'Segoe UI', sans-serif;
	background-color: white;
    border: none;
    color: #b80720;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin: 4px 2px;
    border-radius: 10%;
    border: solid 2px #b80720;
}

/*Business proposal section*/
.business-section{
	background-image: url(image-path('rtl_image3.jpg'));
	background-color: #fff;
	height: 65vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
} 

.attention-grabber-section{
	margin-top: 4rem;
}

.grabber-text{
	text-align: center;
	font-family:'Segoe UI', sans-serif;
	font-weight: lighter;
	letter-spacing: 4px;
}




#busy-row-one{
	margin-top: 10rem;
}




#busy-row-two{

}



#first-cols{
	border: 1px solid #fff;
	border-radius: 3px;
	height: 5rem;
}

#sec-cols{
	border: 1px solid #fff;
	border-radius: 3px;
	height: 5rem;
}

.huge{
	color: white;
	text-align: center;
	font-size: 2rem;
}


.email-us-section{
	height: 50vh;
	background-color: #fff;
}


.background-tintbox-email{
	height: 65vh;
	width: 100%;
	background: rgba(0,0,0, 0.7);
}




.contact-section{
	background-color: #b80720;
	height: 22em;
}

#social-blast{
	text-align: center;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.headding {
	margin-bottom: 40px;
}

h1 {
	font-size: 66px;
	font-weight: 300;
}

.icons {
	text-align: center;
	max-width: 500px;
	max-height: 300px;
}

span {
	border: 1px solid;
	border-radius: 50%;
	color: #fff;
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top: 15px;
	margin: 10px;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}

span:hover {
	background: rgba(10, 10, 10, 0.1);
	border-color: rgba(10, 10, 10, 0.1);
}

h6 a,
h6 a:hover {
	text-decoration: none;
	color: #fff;
}




