
.background-tintbox{
	height: 65vh;
	width: 100%;
	background: rgba(255,0,0, 0.5);
}


.background-image-section{
	height: 65vh;
	background-image: url(image-path('rtl_image1.jpg'));
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}


.banner-title{
	text-align: center;
	color: #fff;
	font-size: 6em;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 300;
	letter-spacing: 7px;
	word-spacing: 3px;
	position: absolute;
    top: 4em;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rtl-slogan{
	text-align: center;
	color: #fff;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	letter-spacing: 3px;

}

@media (max-width: 979px) {
.placeholder{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-align: center;
	padding: 185px;
	font-family: 'Segoe UI', sans-serif;
}
}

.info-tag{
	text-align: center;
	font-size: 4rem;
	color: black;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 200;
	margin-bottom: 4rem;
}

.information-section{
	height: auto;
}

.info-para{
	font-size: 18px;
}


.explore{
	font-family: 'Segoe UI', sans-serif;
	background-color: white;
    border: none;
    color: teal;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin: 4px 2px;
    border-radius: 10%;
    border: solid 2px teal;
}

/*Business proposal section*/
.business-section{
	height: 45rem;
	background-color: #fc5f23;
} 

.attention-grabber-section{
	margin-top: 4rem;
}

.grabber-text{
	text-align: center;
	font-family:'Segoe UI', sans-serif;
	font-weight: lighter;
	letter-spacing: 4px;
}




#busy-row-one{
	margin-top: 10rem;
}




#busy-row-two{

}



#first-cols{
	border: 1px solid yellow;
}

.huge{
	color: white;
	margin-top: 7rem;
	text-align: center;
	font-size: 2rem;
}

#1st-row-busy


.email-us-section{
	background-color: teal;
	height: 6vh;
}







.contact-section{
	background-color: #b80720;
	height: 22em;
}

.rtl-stamp{
	color: white;
	font-size: 2em;
}

#rtl-us{
	margin-top: 2em;
}


li{
	color: white;
	font-size: 20px;
	list-style: none;
}




